<div>
    <div>
        <a href="{% url 'index' %}">
            <img src="/static/images/logo_image.png" height="70" width="220">
        </a>
        {% if user.is_authenticated %}
        {{ user }}님 환영합니다.
        <a href="{% url 'accountapp:logout' %}"><span>logout</span></a>
        <a href="{% url 'profileapp:create' %}"><span>profile create</span></a>
        <a href="{% url 'cartapp:cart_detail' %}"><span>장바구니</span></a>
        {% else %}
        <a href="{% url 'accountapp:create' %}"><span>Sign in</span></a>
        <a href="{% url 'accountapp:login' %}"><span>login</span></a>
        {% endif %}
    </div>
</div>